2_Data_error_checking_and_cleaning/*_data_set_clean.RData
2_Data_error_checking_and_cleaning/plots_checks*
3_State_analysis/Box_plots/
3_State_analysis/Envelope_plot1/
3_State_analysis/Envelope_plots2/
3_State_analysis/Maps/
3_State_analysis/Pie_plots/
3_State_analysis/Summary_plots/
3_State_analysis/Tables/
4_Trend_analysis/RData_files/
4_Trend_analysis/Results_Boxplot/
4_Trend_analysis/Results_Maps_MK/
4_Trend_analysis/Results_Maps_SK/
4_Trend_analysis/Results_Plots/
4_Trend_analysis/Results_Plots_SK/
4_Trend_analysis/Results_shapefiles/
4_Trend_analysis/Results_tables/
5_Trend_analysis/RData_files/
5_Trend_analysis/Results_Maps_MK/
5_Trend_analysis/Results_Plots/
5_Trend_analysis/Results_shapefiles/
5_Trend_analysis/Results_tables/



